/* index page */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

/* navbar */

#navbar p a{
    position: relative;
}

#navbar p a:hover,
#navbar p a.active{
    color: #38bdf8;
}

#navbar p a.active::after,
#navbar p a:hover::after{
    content: "";
    position: absolute;
    width: 80%;
    height: 1px;
    background-color: #38bdf8;
    bottom: -4px;
    left: 20%;
}

/* hero section */
#hero{
    background-image: url("../images/hero1.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
}

.shop-button{
    background-image: url("../images/button.png");
    background-color: transparent;
    border: 0;
    background-repeat: no-repeat;
    padding: 14px 80px 14px 65px;
}

/* feature section */
.feature-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 35px rgba(0, 0, 0, 0.1);
    border: 2px solid #91cfe0e9;
    border-radius: 4px;
    margin: 15px 0;
}

.feature-box:hover{
    box-shadow: 10px 10px 55px rgba(0, 0, 0, 0.1)
}

/* list product page */
#page-header-products{
    background-image: url("../images/banner/b1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
}

/* about page */
#page-header-about{
    background-image: url("../images/banner/banner.png");
    width: 100%;
    height: 40vh;
    background-size: cover;
}

.small-image {
    width: 100%;
    object-fit: cover;
    height: 100px; 
}